.MainMenuItem a {
    font-size: 1.3em;
    font-weight: 600;
    margin: 0 0 5px;
    padding: 0;
    text-align: right;

    background: none;
    color: #999;
    text-decoration: none;
}

    .MainMenuItem a:hover {
            color: #333;
            text-decoration: none;
    }

