<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://amedilab.com/</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>wbm4.my-hosting-panel.com:8172</MSDeployServiceURL>
    <DeployIisAppPath>amedilab.com</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>amedilab.com_dploy</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="DefaultConnection" Order="1" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=(LocalDb)\v11.0;AttachDbFilename=|DataDirectory|\aspnet-eyemusic45-20140428172237.mdf;Initial Catalog=aspnet-eyemusic45-20140428172237;Integrated Security=True" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\DefaultConnection_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=(LocalDb)\v11.0;Initial Catalog=aspnet-eyemusic45-20140428172237;Integrated Security=SSPI;AttachDBFilename=|DataDirectory|\aspnet-eyemusic45-20140428172237.mdf" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="allData" Order="2" Enabled="False">
          <Destination Path="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="eyemusic45.DAL.allData, eyemusic45" Origin="Convention" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="amedilab_dataEntities" Order="3" Enabled="False">
          <Destination Path="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="eyemusic45.DAL.amedilab_dataEntities, eyemusic45" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="userDbEntities" Order="4" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=198.38.83.33;Initial Catalog=amedilab_data;User ID=&quot;amedilab_ menahem&quot;;Password=nugseyi1" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\userDbEntities_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=198.38.83.33;Initial Catalog=amedilab_data;User ID=amedilab_ menahem;Password=nugseyi1;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="eyemusic45.DAL.huji_Entities" Order="5" Enabled="False">
          <Destination Path="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="eyemusic45.DAL.huji_Entities, eyemusic45" Origin="" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="amedilab_dataEntities_OLD" Order="6" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=198.38.83.33;Initial Catalog=amedilab_data;Persist Security Info=True;User ID=amedilab_forcsharp;Password=12345678;Application Name=EntityFramework" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\amedilab_dataEntities_OLD_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="metadata=res://*/DAL.menahemDB.csdl|res://*/DAL.menahemDB.ssdl|res://*/DAL.menahemDB.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=198.38.83.33;initial catalog=amedilab_data;persist security info=True;user id=amedilab_forcsharp;password=12345678;MultipleActiveResultSets=True;App=EntityFramework&quot;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)allData-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)amedilab_dataEntities-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)DefaultConnection-Web.config Connection String" />
  </ItemGroup>
  <ItemGroup>
    <_ConnectionStringsToInsert Include="allData" />
    <_ConnectionStringsToInsert Include="eyemusic45.DAL.huji_Entities" />
  </ItemGroup>
</Project>